# IDE
.idea
.pydevproject
.project
.vscode

# Python
*.pyc

# pytest
.pytest_cache
tests/**/*.xml
.eggs/

/venv_paws/
/rpmbuild/
/paws.1
/TODO.txt
/dist/
/build/
/paws.egg-info/
/paws_cli.egg-info/
/.settings/
/.tox
